html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 1px;
  }
  
  
  html {
    background-color: #9627f0;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #a704ff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #FF8C19;
    text-shadow: 3px 3px 1px black;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 30%;
  }
  
  .box img {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF8C19;
    color: #020202;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fa29fe;
  }


